
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

body{
  font-family: "Raleway", sans-serif !important;
}
.panel-heading {
  background-color: #3765f1 !important;
  border-color: #3765f1 !important;
  color: #fff !important;
}

a
{
  color: #f47d30 !important;
}

a:hover
{
  font-weight: bold;
}

.navbar a, .nav a
{
  color: #666 !important;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
  color: #fff !important;
  text-decoration: none;
  background-color: #f47d30;
  outline: 0;
}

.dropdown-menu a{
  color: #666 !important;
}

.btn-primary {
  color: #fff;
  background-color: #f47d30;
  border-color: #f47d30;
}

.btn-primary:hover {
  color: #fff;
  background-color: #fd690a;
  border-color: #fd690a;
}
