
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

body{
  font-family: "Raleway", sans-serif !important;
}
.panel-heading {
  background-color: #3765f1 !important;
  border-color: #3765f1 !important;
  color: #fff !important;
}

a, a:hover
{
  color: #f47d30;
}
